

/** General */
.content { padding:1.5em; margin:0 0 1.5em; }
.dark { background:#2a3333; }
.light { background:#fff; }
.hl { color: #ee2c74; }

.gradient { background:#fff; background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea)); background: -moz-linear-gradient(top, #fff, #eaeaea); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea)"; }
.map { position: absolute; width: 100%; height:100%;min-height:400px; }



.shadow { -moz-box-shadow: 0px 2px 4px #999; -webkit-box-shadow: 0px 2px 4px #999; box-shadow: 0px 2px 4px #999; }
.item { padding:1em; margin:0 0 2em; }




.sub-item a{
    font-size: 14px;
}



